<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nesting_india_property.property">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" tools:node="remove" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" tools:node="remove" />


    <application
        tools:node="replace"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup, usesCleartextTraffic">

        <activity android:name="com.nesting_india_property.property.Avtivities.PaymentActivity"/>
        <activity android:name="com.nesting_india_property.property.Avtivities.ViewImageActivity" />
        <activity android:name="com.nesting_india_property.property.Avtivities.BioMatricActivity" />
        <activity android:name="com.nesting_india_property.property.Avtivities.TermsAndConditionActivity" />
        <activity android:name="com.nesting_india_property.property.Avtivities.PrivacyPolicyActivity" />
        <activity android:name="com.nesting_india_property.property.Avtivities.AddImgActivity" />
        <activity android:name="com.nesting_india_property.property.Avtivities.BuyService2" />

        <activity
            android:name="com.karumi.dexter.DexterActivity"
            android:theme="@style/Dexter.Internal.Theme.Transparent" />

        <activity
            android:name="com.payumoney.sdkui.ui.activities.PayUmoneyActivity" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.LoginThroughOtpActivity"
            android:theme="@style/AppThemeMaterial" />
        <activity android:name="com.nesting_india_property.property.Avtivities.ShowAdsActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAYMmc5XN_JQpXsedsndxTsJrJm3C1g5OM" />

<!--        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_sFvWgD19j8g8M8" />-->

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_5UJpudLFNz2Ywl" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />


        <activity android:name="com.razorpay.CheckoutActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.nesting_india_property.property.Avtivities.PlacePicker">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyAYMmc5XN_JQpXsedsndxTsJrJm3C1g5OM" />

        </activity>

        <activity
            android:name="com.nesting_india_property.property.Avtivities.SearchProject"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.SearchLocality"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.SearchState"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.ShowUSerList"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.OwnerBuilderDeveloperList"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <receiver
            android:name="com.nesting_india_property.property.Notification.AlarmNotificationReceiver"/>

        <activity
            android:name="com.nesting_india_property.property.Avtivities.LeadSearch"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.Buyourservices"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.CallBackForm"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.PurchaseEnquiryActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.ShowMyPurchaseEnquiryActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.MySubscriptionActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.ChannelAdvisePartnerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.TestimonialsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/AppThemeMaterial" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.ViewMoreActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:exported="true"
            android:name="com.nesting_india_property.property.Avtivities.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nesting_india_property.property.Avtivities.ShowSearchProperty"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.SearchCity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.ForgotPassword"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/AppThemeMaterial" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.RegistrationOTP"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/AppThemeMaterial" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.SearchProperty"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.MyPropertyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.DetailsPropertyShowActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.LatestActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.ShortlistedActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/AppThemeMaterial" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.ContactActivity"
            android:parentActivityName="com.nesting_india_property.property.Avtivities.MainActivity" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.AboutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:parentActivityName="com.nesting_india_property.property.Avtivities.MainActivity" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.RegistrationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/AppThemeMaterial" />
        <activity
            android:name="com.nesting_india_property.property.AddPropertActivity.PropertyProfileInfo"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.AddPropertActivity.Features"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.AddPropertActivity.Pricing"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.AddPropertActivity.PropertyDetails"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.AddPropertActivity.Location"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.AddPropertActivity.BasicDetails"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.SettingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.ProfileActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/AppThemeMaterial" />
        <activity
            android:name="com.nesting_india_property.property.Avtivities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>